from kuroboros.reconciler import BaseReconciler
from .crd import {{ kind }}
import threading

class {{ kind }}Reconciler(BaseReconciler[{{ kind }}]):
    
    def reconcile(self, logger, object: {{ kind }}, stopped: threading.Event):
        """
        TODO: Implement your reconcilation logic here
        """
        pass
