apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ name }}-mutation-webhook
webhooks:
{%- for gvi in gvis %}
  - name: {{ gvi.crd_name }}-mutation-webhook
    clientConfig:
      service:
        name: {{ name }}-webhook
        namespace: {{ name }}
        path: /{{ gvi.api_version }}/{{ gvi.singular }}/mutate
      caBundle: {{ ca_bundle | default('""') }}
    rules:
      - apiGroups:
          - {{ gvi.group }}
        apiVersions:
          - {{ gvi.api_version }}
        operations:
          - CREATE
          - UPDATE
        resources:
          - {{ gvi.plural }}
        scope: {{ gvi.scope }}
    admissionReviewVersions: [ {{ gvi.api_version }} ]
    sideEffects: None
    failurePolicy: Fail
{%- endfor %}
