kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: operator-role
  namespace: {{ name }}
rules:
{%- for policy in policies %}
- apiGroups:
  {%- for group in policy.api_groups %}
  - {{ group }}
  {%- endfor %}
  resources:
  {%- for resource in policy.resources %}
  - {{ resource }}
  {%- endfor %}
  verbs:
  {%- for verb in policy.verbs %}
  - {{ verb }}
  {%- endfor %}
{%- endfor %}
